<h2>Product List</h2><br>

<div class="form-group row" id="search-box">
    <label for=" " class="col-sm-2 col-form-label" id="labelSearch">Search by name:</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="filter">
    </div>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Code</th>
            <th>Image</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Warranty</th>
            <th>Rating</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.code}}</td>
            <td><img [src]="product.imageUrl" alt="imagem" width="40" height="40"></td>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.warranty}}</td>
            <td>
                <star [rating]="product.rating"></star>
            </td>
            <td>
                <a [routerLink]="['/products/info', product.id]" class="btn btn-success">Edit</a>
            </td>
        </tr>
    </tbody>
</table>